In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from pandas.plotting import scatter_matrix 
import matplotlib.pyplot as plt 
from sklearn import model_selection 
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score 
from sklearn.linear_model import LogisticRegression 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.neighbors import KNeighborsClassifier 
import datetime

from sklearn.preprocessing import StandardScaler
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures

In [4]:
train = pd.read_csv("house sale.csv")
train.describe()

,Number,Bedrooms,Baths,SquareFeet,YearBuilt,YearSold,CostPerSqFt,SalePrice
count,929.000000,929.000000,929.000000,929.000000,929.000000,929.000000,929.000000,929.000000
mean,465.000000,3.194833,1.779333,1552.539290,1945.903122,2009.365985,83.291561,133203.720129
std,268.323499,0.943293,0.743154,685.007177,37.209902,3.124149,35.762241,77959.624697
min,1.000000,0.000000,0.000000,0.000000,1870.000000,2005.000000,0.000000,7000.000000
25%,233.000000,3.000000,1.000000,1136.000000,1900.000000,2007.000000,60.820000,83000.000000
50%,465.000000,3.000000,1.750000,1423.000000,1956.000000,2009.000000,82.880000,119340.000000
75%,697.000000,4.000000,2.000000,1824.000000,1973.000000,2012.000000,105.770000,162500.000000
max,929.000000,8.000000,6.000000,6815.000000,2013.000000,2015.000000,258.790000,606000.000000

In [5]:
feature_names = ['Bedrooms','Baths','SquareFeet','YearBuilt','YearSold']

In [6]:
data = pd.DataFrame()

In [7]:
data['Bedrooms']=train['Bedrooms']
data['Baths']=train['Baths']
data['SquareFeet']=train['SquareFeet']
data['YearBuilt']=train['YearBuilt']
data['YearSold']=train['YearSold']
data['SalePrice']=train['SalePrice']

In [9]:
data.head()

   Bedrooms  Baths  SquareFeet  YearBuilt  YearSold  SalePrice
0         2    1.0        1120       1993      2005       7000
1         3    1.0        1224       1900      2006      27000
2         4    1.0        1540       1970      2006      28000
3         3    1.0        1154       1900      2006      30000
4         3    1.0        1277       1900      2005      30750

In [11]:
X = data[feature_names]
X

     Bedrooms  Baths  SquareFeet  YearBuilt  YearSold
0           2    1.0        1120       1993      2005
1           3    1.0        1224       1900      2006
2           4    1.0        1540       1970      2006
3           3    1.0        1154       1900      2006
4           3    1.0        1277       1900      2005
..        ...    ...         ...        ...       ...
924         4    3.0        1920       2006      2014
925         4    3.0        2958       1968      2014
926         4    3.0        3359       1993      2014
927         3    2.5        1565       1987      2015
928         5    6.0        3792       1990      2014

[929 rows x 5 columns]

In [13]:
y = data.SalePrice
print(y)

0        7000
1       27000
2       28000
3       30000
4       30750
        ...
924    325000
925    360000
926    362500
927    405000
928    606000
Name: SalePrice, Length: 929, dtype: int64

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20, random_state=20)

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge,Lasso
#from sklearn.ensemble import AdaBoostRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
#from sklearn.ensemble import GradientBoostingRegressor
#import xgboost as xgb
#from xgboost.sklearn import XGBRegressor
from sklearn.metrics import r2_score
#print("R2 score : %.2f" % r2_score(dtesty,prediction))
m=list()
m.append(["LinearRegression",LinearRegression()])
m.append(["Ridge",Ridge()])
m.append(["Lasso",Lasso()])
m.append(["LogisticRegressor",LogisticRegression()])
#m.append(["AdaBoostRegressor",AdaBoostRegressor()])
m.append(["ExtraTreesRegressor",ExtraTreesRegressor()])
m.append(["DecisionTreeRegressor",DecisionTreeRegressor()])
m.append(["RandomForestRegressor",RandomForestRegressor()])
#m.append(["GradientBoostingRegressor",GradientBoostingRegressor()])
#r=list()
for name,model in m:
    model.fit(X_train,y_train)
    prediction = model.predict(X_test)
    #r.append(eval("%.2f" % r2_score(test_Y,prediction)))
    r2score=eval("%.2f" % r2_score(y_test,prediction))
    raw_data=np.sqrt(mean_squared_error(y_test,prediction))
    print(name,":\n\tr2 score: ",r2score,"\n\trmse:",raw_data)

LinearRegression :
	r2 score:  0.61
	rmse: 50723.27104486314
Ridge :
	r2 score:  0.61
	rmse: 50706.80483486851
Lasso :
	r2 score:  0.61
	rmse: 50722.66602655729

c:\users\lenovo\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\lenovo\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegressor :
	r2 score:  0.39
	rmse: 62819.65494427046
ExtraTreesRegressor :
	r2 score:  0.71
	rmse: 43342.13128872575
DecisionTreeRegressor :
	r2 score:  0.57
	rmse: 52807.93317886675
RandomForestRegressor :
	r2 score:  0.7
	rmse: 44014.99471207548

c:\users\lenovo\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\lenovo\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [16]:
naming=['Bedrooms','Baths','SquareFeet','YearBuilt','YearSold']

B=[]
print("ENTER VALUE FOR\n")
for i in naming:
  print(i)
  B.append(input())
X_value=np.reshape(B,(1, -1))
getresult=ExtraTreesRegressor()
getresult.fit(X_train,y_train)
predictions=getresult.predict(X_value)
print("Predicting House Price:\r")
print(predictions.astype('int'))

ENTER VALUE FOR

Bedrooms
1
Baths
2
SquareFeet
1120
YearBuilt
1993
YearSold
2005
Predicting House Price:
[110100]

c:\users\lenovo\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)